.hyperlink
  color $primary
  text-decoration underline
  cursor pointer
  // Without this, the underline extends into the space for some reason
  // solution source: https://stackoverflow.com/questions/23182904/css-underline-text-but-ignore-the-spaces
  display inline-block

.body--light, .dark-toggle
  color $dark

.body--dark
  .dark-toggle
    color $light

h1, h2, h3, h4, h5, h6
  margin 0
  padding 0

// ============================================================
// COMPONENT STYLES
// ============================================================
.main-caption
  opacity .7
  text-align center

.main-card
  margin 0
  padding 1em 2.25em

.main-card-section
  margin 0
  padding 0

.main-value
  font-size 2em
  font-weight bold
  padding 0
  margin .1em 0 .25em
  text-align center

.main-header
  font-size 1.5em
  padding 0
  margin 0
  text-align center