.hyperlink
  color $primary
  text-decoration underline
  cursor pointer
  // Without this, the underline extends into the space for some reason
  // solution source: https://stackoverflow.com/questions/23182904/css-underline-text-but-ignore-the-spaces
  display inline-block

.body--light, .dark-toggle
    color $dark

.body--dark
  .dark-toggle
    color $light

// ============================================================
// COMPONENT STYLES
// ============================================================
.main-card
  margin 0
  padding 1em 2em

.main-card-section
  margin 0
  padding 0

.main-value
  font-size 2em
  padding 0
  margin 0
  text-align center

.main-header
  font-size 1.5em
  padding 0
  margin 0
  text-align center